*,*:before,*::after{
    box-sizing: border-box;
}
body{
    background: linear-gradient(60deg, #29323c 0%, #485563 0%);
}

.style{
    width:500px;
    height: 380px;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    padding: 15px;
     
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: auto;
    border-radius: 15px 15px;
    box-shadow: 5px 5px 10px  0 rgba(0,0,0,.4),
    5px 5px 5px 0 rgba(255, 255, 255, .5) inset;
    
}

.stylecal{
    width:500px;
    height: 500px;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    padding: 15px;
     
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: auto;
    border-radius: 15px 15px;
    box-shadow: 5px 5px 10px  0 rgba(0,0,0,.4),
    5px 5px 5px 0 rgba(255, 255, 255, .5) inset;
    
}
a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 12px;
    border-radius: 5px;

}
a:hover{
    color: white;
}