*,*:before,*::after{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, rgba(48, 208, 208, 0.411) 0%, rgba(51, 8, 103, 0.404) 100%), url(../img/fondo.jpeg);
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position : center;
}

.style{
    width:500px;
    height:350px;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    padding: 15px;
     
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: auto;
    border-radius: 15px 15px;
    box-shadow: 5px 5px 10px  0 rgba(0,0,0,.4),
    5px 5px 5px 0 rgba(255, 255, 255, .5) inset;
    
}

.stylecal{
    width:500px;
    height: 500px;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    padding: 15px;
     
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: auto;
    border-radius: 15px 15px;
    box-shadow: 5px 5px 10px  0 rgba(0,0,0,.4),
    5px 5px 5px 0 rgba(255, 255, 255, .5) inset;
    
}
a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    padding: 12px;
    border-radius: 5px;

}
a:hover{
    color: white;
}
footer{
    width:280px;
    height: 150px;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    padding: 5px;
    margin-left: 710px;
    margin-top: 10px;
    border-radius: 15px 15px;
    box-shadow: 5px 5px 10px  0 rgba(0,0,0,.4),
    5px 5px 5px 0 rgba(255, 255, 255, .5) inset;
}